<div class="jumbotron">

	<center>
		<h1>About Us</h1>

		<img src="http://www.bradinmotion.com/wp-content/uploads/brad-pierce-brads-flying-adventure-across-america-large.jpg" width="500px">
		<br>

		<p>
			Amazing Adventures are always willing to help plan and find your next adventure!  Whether to Busch Gardens or Disneyland, or off the beaten track, we provide easy discovery for you.
		</p>

		
	</center>
</div>