<div class="jumbotron">

	<center>
		<h1>Welcome to Amazing Adventures</h1>

		<img src="http://www.bradinmotion.com/wp-content/uploads/brad-pierce-brads-flying-adventure-across-america-large.jpg" width=1000px>
		<br>

		<%= link_to "Check out our Adventures!", activities_path, class: "btn btn-default" %>
		<%= link_to "Check out our Locations!", states_path, class: "btn btn-default" %>
	</center>
</div>